.clock {
  background: #ececec;
  width: 300px;
  height: 300px;
  margin: 10% auto;
  border-radius: 50%;
  border: 14px solid #333;
  position: relative;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}

.hour-hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 65px;
  background: #333;
  bottom: 50%;
  left: 49.5%;
  transform-origin: bottom;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 100px;
  background: #666;
  bottom: 50%;
  left: 49.6%;
  transform-origin: bottom;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 120px;
  background: gold;
  bottom: 50%;
  left: 49.6%;
  transform-origin: bottom;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.h12 {
  position: absolute;
  top: 8%;
  left: 45%;
  font-size: 27px;
}

.h3 {
  position: absolute;
  top: 42%;
  right: 11%;
  font-size: 27px;
}

.h6 {
  position: absolute;
  bottom: 8%;
  left: 47.5%;
  font-size: 27px;
}

.h9 {
  position: absolute;
  top: 42%;
  left:11%;
  font-size: 27px;
}

.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  left: 49.5%;
  top:0px;
  transform-origin: 50% 136px;
}

.diallines:nth-of-type(5n+1) {
  width: 4px;
  height: 25px;
}